/* Estilos tabla modificar */
.sinPadding{
  padding: 0px;
}
.contentBuscar{
  margin-top: 10px;
  margin-bottom: 20px;
}
.buscarLaterl{
  background-color:#C2C3C9;
  color: #FFF;
  font-weight: bold;
  font-size: 2em;
}
.buscarInput{
   width: 100%;
   height: 40px;
  border: none;
  border-radius: 0;
  border:1px solid #EDEEF0;
  color: #aaa;
  font-size: 1.5em;
  font-weight: 400;
  -webkit-appearance: none; /* box shadows to show on iOS */
}
.tablaAqua th{
  background-color: #5FA199;
  color: #FFF;
  text-align: center;
  font-weight: 200;
  font-size: 1.1em;
}
.tablaAqua i:hover{
cursor: pointer;
}
.input-Inactive{
   border: none;
   color: #727176;
}
.input-Active{
  border: none;
  border-radius: 0;
  border:1px solid #EDEEF0;
  color: #444242;
  font-size: 1.2em;
  font-weight: 400;
  -webkit-appearance: none; 
}
.iconosModificar-Inactive{
  color: #AEADB3;
  font-size: 1.5em !important;
}
.iconosModificar-Active{
  color: #DB9600;
  font-size: 2em !important;
}
.separador{
  border-bottom: 2px solid #5FA199;
}
/*modificar autos*/
.inputSinVista2{
   border: none;
  border-radius: 0;
  border:1px solid #EDEEF0;
  color: #444242;
  font-size: 1.2em;
  font-weight: 400;
  -webkit-appearance: none; 
}
.input-Active2{
  border: none;
  color: #444242;
  font-size: 1.2em;
  font-weight: 400;
  -webkit-appearance: none; 
}
.botonAquaMini{
  float: right;
  margin-top: 1em;
 border: none;
 background: #5FA199;
 color: #FFF;
 padding: 7px;
 font-size: 12px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}
.botonAquaMini:hover {
 background: rgba(0,0,0,0);
 color: #5FA199;
 box-shadow: inset 0 0 0 3px #5FA199;
}
.tablaAqua table th{
  background-color: #9A999E;
  color: #FFF;
  text-align: center;
  font-weight: 200;
  font-size: 1.1em;
}

.visible-false{
  display: none;
}
.visible-true{
  display: contents !important;
}

input[type=checkbox] { 
  opacity: 0;
  width: 30px;
  height: 30px;
  position: absolute;
   }

input[type=checkbox]:hover{
cursor: pointer; }

input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;

}

.modifAutos input[type=checkbox] + label:before { content: "\f055"; } 
.modifAutos input[type=checkbox] + label:before { letter-spacing: 10px; } 

.modifAutos input[type=checkbox]:checked + label:before { content: "\f044"; } 
.modifAutos input[type=checkbox]:checked + label:before { letter-spacing: 5px; } 

.modifUsers input[type=checkbox] + label:before { content: "\f040"; } 
.modifUsers input[type=checkbox] + label:before { letter-spacing: 10px; } 

.modifUsers input[type=checkbox]:checked + label:before { content: "\f044"; } 
.modifUsers input[type=checkbox]:checked + label:before { letter-spacing: 5px; } 